@import "tailwindcss";
* {
  /* transition: all; */
  font-family: "Outfit";
  box-sizing: border-box;
  /* transition-duration: 0.1s; */
}

button {
  cursor: pointer;
}

#prata-regular {
  font-weight: 400;
  font-style: normal;
  font-family: "Prata", serif;
}

.tours {
  transition: all;
  transition-duration: 0.5s;
}
